<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="info.tkirk.deisfood"
      android:versionCode="1"
      android:versionName="Hardcoded Version">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Today"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
                
       <activity
		  android:name=".About"
          android:label="@string/about_title"
          android:theme="@android:style/Theme.Dialog">
        </activity>     
         <activity
			  android:name=".BrowserRedirect"
	          android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".AboutEinsteins"
                  android:label="@string/einsteins_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".AboutFacultyClub"
                  android:label="@string/facultyclub_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
                  android:name=".AboutJavaCity"
                  android:label="@string/javacity_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
		<activity 
				  android:name=".AboutOllies"
                  android:label="@string/ollies_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
                  android:name=".AboutPodUsdan"
                  android:label="@string/podusdan_title"
                  android:theme="@android:style/Theme.Dialog">   
        </activity>
        <activity 
        		  android:name=".AboutPodVillage"
                  android:label="@string/podvillage_title"           
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
                  android:name=".AboutQuadCafe"
                  android:label="@string/quadcafe_title"          
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".AboutQuiznos"
                  android:label="@string/quiznos_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
                  android:name=".AboutSherman"
                  android:label="@string/sherman_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
                  android:name=".AboutStein"
                  android:label="@string/stein_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
  		<activity
  				  android:name=".AboutUsdanLower"
          		  android:label="@string/usdanlower_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
                  android:name=".AboutUsdanUpper"
                  android:label="@string/usdanupper_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>
</manifest>
